.announcement{
    background: black;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}


.carousel{
    width: 100% !important;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.carouselitem,.imgbox{
    width: 100% !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imgbox .img{
    height: 50vh;
    object-fit: contain;
    position: relative;
    top: -10px;
    left: -10px;
    z-index: 1;
}
.imgbox::after{
    position: absolute;
    color: aliceblue;
    content: "";
    width: min(100%,790px);
    height: 60vh;
    top: 25px;
    left: 22.1%;
    background: greenyellow;
    z-index: -1;
}
.imgbox::before{
    position: absolute;
    color: aliceblue;
    content: "";
    width: min(100%,790px);
    height: 60vh;
    bottom: 6px;
    left: 21.5%;
    background: black;
    z-index: 0;
}
@media (max-width:1400px) {
    .imgbox::after{
        width: min(100%,790px);
        height: 60vh;
        top: 10px;
        left: 17.5%;
    }
    .imgbox::before{
        width: min(100%,790px);
        height: 60vh;
        bottom: 6px;
        left: 17%;
    }
}
@media (max-width:1200px) {
    .imgbox::after{
        width: min(100%,790px);
        height: 60vh;
        top: 10px;
        left: 11.5%;
    }
    .imgbox::before{
        width: min(100%,790px);
        height: 60vh;
        bottom: 6px;
        left: 10.8%;
    }
}
@media (max-width:992px) {
    .imgbox::after{
        width: 100%;
        height: 40vh;
        top: 50px;
        left: 10px;
    }
    .imgbox::before{
        width: 100%;
        height: 40vh;
        top: 45px;
        left: -5px;
    }
}
@media (max-width:768px) {
     .imgbox::after{
        width: 100%;
        height: 30vh;
        top: 95px;
        left: 10px;
    }
    .imgbox::before{
        width: 100%;
        height: 30vh;
        top: 91px;
        left: -5px;
    }
}
@media (max-width:576px) {
    .imgbox::after{
        height: 30vh;
        top: 102px;
        left: 10px;
    }
    .imgbox::before{
        width: 100%;
        height: 30vh;
        top: 97px;
        left: -5px;
    }
}
@media (max-width:566px) {
    .imgbox::after,.imgbox::after{
        display: none;
    }
    .imgbox .img{
        top: 0;
        left: 0;
    }
    .carousel{
        height: 35vh;
    }
}