.announcement{
    background: black;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.extra{
    padding-top: 2rem;
    width: 100%;
    border-bottom: 2px solid white;
}

.carousel{
    width: 100% !important;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.carouselitem,.imgbox{
    width: 100% !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imgbox .img{
    height: 50vh;
    object-fit: contain;
    position: relative;
    top: -10px;
    left: -10px;
    z-index: 1;
}
.imgbox::after{
    position: absolute;
    color: aliceblue;
    content: "";
    width: min(100%,740px);
    height: 60vh;
    top: 10px;
    left: 22%;
    background: greenyellow;
    z-index: 0;
}
@media (max-width:1400px) {
    .imgbox::after{
        width: min(100%,740px);
        height: 60vh;
        top: 10px;
        left: 17.5%;
    }
}
@media (max-width:1200px) {
    .imgbox::after{
        width: min(100%,740px);
        height: 60vh;
        top: 10px;
        left: 11.5%;
    }
}
@media (max-width:992px) {
    .imgbox::after{
        width: 100%;
        height: 47vh;
        top: 10px;
        left: 10px;
    }
}
@media (max-width:768px) {
    .imgbox::after{
        width: 100%;
        height: 35vh;
        top: 60px;
        left: 10px;
    }
}
@media (max-width:576px) {
    .imgbox::after{
        height: 36vh;
        top: 60px;
        left: 10px;
    }
}
@media (max-width:566px) {
    .imgbox::after{
        display: none;
    }
    .imgbox .img{
        top: 0;
        left: 0;
    }
    .carousel{
        height: 35vh;
    }
}