.main{
    height: min(fit-content,calc(100vh - 90px));
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 60px;

}
.contract{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    border-bottom : 2px solid black;
    text-align: center;
}
.span{
    background: rgba(175, 239, 79, 0.796);
    border-radius: 25px;
    padding: 0 10px;
}
.main1{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.catlogo{
    margin-bottom: 1rem;
    border: 2px solid black;
    height: 185px;
    width: 192px;
    position: relative;
    background: black;
}
.catlogo::before{
    content: "";
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 10px;
    left: 10px;
    border: 3px solid greenyellow;
    z-index: -1;
}
.main1 h1{
    font-size: 6rem;
    font-weight: bolder;
    color: black;
    text-shadow: -10px 15px greenyellow;
}
.main1 p{
    font-size: 1.5rem;
    max-width: 80ch;
}
.btns{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    
}
.btn{
    margin: 10px 210px;
}
.social{
    width: auto;
    margin: 1rem 0;
}
.link{
    font-size: 1.8rem;
    margin: 10px 20px;
    background: greenyellow;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    color: black;
}
.partner{
    display: flex;
    margin-top: 1rem;
    position: relative;
}
.partnerimg{
    width: 50px;
    margin: 0 10px;
    top: -10px;
    position: relative;
}

@media screen and (max-width:992px) {
    .main1 h1{
        font-size: 5rem;
        text-shadow: -10px 10px greenyellow;

    }
    .main1 p{
        font-size: 1.3rem;
        max-width: 90ch;
    }
}
@media screen and (max-width:768px) {
    .main1 h1{
        font-size: 4rem;
        text-shadow: -8px 10px greenyellow;

    }
    .main1 p{
        font-size: 1.2rem;
        max-width: 80%;
    }
}
@media screen and (max-width:567px) {
    .main1 h1{
        font-size: 3rem;
        text-shadow: -5px 8px greenyellow;

    }
    .main1 p{
        font-size: 1.2rem;
        max-width: 90%;
    }
}
@media screen and (max-width:400px) {
    .main1 h1{
        font-size: 2.6rem;
        text-shadow: -5px 8px greenyellow;

    }
    .main1 p{
        font-size: 1rem;
        max-width: 90%;
    }
    .link{
        font-size: 1.5rem;
        margin: 10px 10px;
        background: greenyellow;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 5px;
    }
    .contract p{
        font-size: .8rem;
    }
}